@import "nib"

font-family = monospace
font-size = 14px

char-height = 16px
char-width = 8px
rows = 25

.consolication
  global-reset()

  .consolication-output
    height (char-height * (rows - 1))
    border 1px solid darkgray
    overflow-y scroll
    font-family font-family
    font-size font-size

  .consolication-input-field
    width 100%
    box-sizing border-box

  .consolication-input-field--state-hidden
    position absolute
    left -10000px
    display inline
    width auto

  &.consolication--behaviour-terminal
    .consolication-content
      height (char-height * rows)
      background-color black
      overflow-y scroll
      color lightgreen

    .consolication-output
      display inline
      height auto
      border none
      overflow-y visible
    
    .consolication-input
      display inline

    .consolication-input-field
      display inline-block
      margin 0
      padding 0
      border none
      outline none
      background black
      line-height 1
      font-family font-family
      font-size font-size
      color lightgreen
      transition none
