@import "nib"

background-color = black
font-family = monospace
font-size = 14px
color = lightgreen

char-height = 16px
char-width = 8px
rows = 25

.consolication
  global-reset()

.consolication-content
  height (char-height * rows)
  background-color background-color
  overflow-y scroll
  color color

  .consolication-output
    display inline
    font-family font-family
    font-size font-size

  .consolication-input
    display inline

  .consolication-input-field
    display inline-block 
    box-sizing border-box
    margin 0
    padding 0
    border none
    outline none
    background-color background-color
    line-height 1
    font-family font-family
    font-size font-size
    color color

  .consolication-input-field--state-hidden
    position absolute
    left -10000px
    display inline
    width auto
