!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title WebSocket Console
    link(rel="stylesheet", href="index.css")
    // build:remove
    script(src="vendor.js")
    // /build
    script(src="index.js")
  body
    #consolication(data-autofocus)
